DEBUG = ** enter '*' to debug or delete this line **
TEST_PORT = **test port**
UPDATE_PORT = **update job port**
APP_ENDPOINT =  **app endpoint**
API_ENDPOINT = **api endpoint**
CLIENT_PORT = **client port**
ENVIRONMENT = **environment**
MONGO_PROJECT_ID = **mongo project id**
TICKETLEAP_API_KEY = **ticketleap api key**
TICKETMASTER_CONSUMER_KEY = **ticketmaster consumer key**
GOOGLE_GEOCODING_API_KEY = **google geocoding api key**
TEST_AUTH_API_KEY = **test auth api key**  
REALM_APP_ID =  **realm app id **  
REALM_NUMERICAL_APP_ID = **numerical app id**
REALM_PRIVATE_KEY = ** private realm key (can only be generated once. ask another developer for it)**
REALM_PUBLIC_KEY = ** associated private key **
REALM_GRAPHQL_ENDPOINT = **realm graphql endpoint**
AWS_ACCESS_KEY_ID= ** AWS Access Key Id **
AWS_SECRET_ACCESS_KEY= **AWS Secret Key**