*.env
.nyc_output
coverage
node_modules
realm-object-server
realm-object-server/*
auth/realm-object-server
*.realm
*.realm.lock
*.orig
src/services/firebase/hopperclient-3194b-firebase-adminsdk-j6r97-d5ff9e857f.json
