<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <div class="container">
        <div class="child",
        style="text-align: center;">
            <img class = mainimage,
                src='/images/user-not-found-2.png', 
                alt='users not found graphic', 
                height='100', 
                width='100', 
                class="center">
            <h1 style="font-size:32px; color: #fa7c33; font-family:courier",>
                EventHopper API
            </h1>
            <p style="font-size:16px; color: #756efb; font-family:courier">
                <b>Explore /users, /events, /organizations and more!</b><br><br><br><br><br>
                <center>
                    <a href="https://docs.eventhopper.app/" target="_blank">
                        API documentation
                    </a>
                         
                    <a href="https://github.com/EventHopper/EHServerSide/projects/1" target="_blank">
                        Issue Board
                    </a>
                </center>
            </p>
        </div>
    </div>

    <div class="topright">
        <img class = ,
            src='/images/logo.png', 
            alt='eventhopper logo', 
            height='50', 
            width='50', >
    </div>
</html>
